/*******************************************************************************************
/* Menu Content Layout 
/*******************************************************************************************/

#userMenu {
  background: var(--color-white);
  color: var(--color-black);
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  top: var(--cvheight);
  z-index: 901;
}

#controlMenuContainer {
  /*container-type: inline-size;
  container-name: sidebar;*/
  overflow-y: scroll;
  overflow-x: none;
  height: 85%;
}

/* If the container is larger than 700px */
/*@container sidebar (min-width: 700px) {
  .card {
    font-size: 2em;
  }
}*/

#sliders {
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

#sliders .sliderGroup {
  min-width: 300px;
  text-align: center;
  justify-content: center;
  align-items: start;
  border-radius: 20px;
  padding: 1rem;
  margin: 20px;
  flex: 1 0 auto;
}

#sliders .sliderGroup .mainTable {
  margin: auto;
}

#sliders .sliderGroup h3 {
  width: 100%;
}

/*******************************************************************************************
 * text layout of sliders: tables override general text spec) 
 */
td {
  font-weight: bold;
  font-size: var(--fs-h5);
  color: var(--color-black);
}

/*******************************************************************************************
/* Primary Control Bar Layout
/*******************************************************************************************/

.controllerTitle {
  text-align: center;
}

.btnContainer {
  flex-grow: 1;
}

.btnHeader {
  justify-content: space-between;
  width: 100%;
  height: 15%;
  background: var(--color-secondary);
}

.btnHeader img {
  width: var(--btn-sq);
  height: var(--btn-sq);
  overflow: hidden;
  border-radius: 20%;
  margin: 1.2vmin;
}

.btnHeader h2 {
  min-width: fit-content;
  color: var(--color-white);
}

.btnHeader div.left {
  justify-content: flex-start;
}

.btnHeader div.right {
  justify-content: flex-end;
}

/*******************************************************************************************
/* Primary Control Bar Buttons
/*******************************************************************************************/

#lanePlusDiv {
  height: var(--btn-sq);
  width: var(--btn-sq);
}

#laneMinusDiv {
  height: var(--btn-sq);
  width: var(--btn-sq);
}

#playPauseBtn {
  height: var(--btn-sq);
  width: var(--btn-sq);
}

#restartDiv {
  height: var(--btn-sq);
  width: var(--btn-sq);
}

#infoDiv {
  height: var(--btn-sq);
  width: var(--btn-sq);
}

/*******************************************************************************************
 * Downloading Button
 */

#downloadBtn.isDownloading img {
  display: none;
}

#downloadBtn.isDownloading {
  border: 2px solid white;
  background: var(--color-black);
  width: var(--btn-sq);
  height: var(--btn-sq);
  border-radius: 20%;
  display: block;
}
