/*******************************************************************************************/
/* universal styling */
/*******************************************************************************************/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  font: var(--font);
  font-family: var(--font-family);
  color: var(--color-white);
  background: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* suppresses borders on images used as links */
img {
  border-width: 0;
}

/*******************************************************************************************/
/* gloabl class specific stylings */
/*******************************************************************************************/

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
}
.center {
  justify-content: center;
  align-items: center;
}

/*******************************************************************************************/
/* global page stylings */
/*******************************************************************************************/

header {
  background: var(--color-black);
}

/*******************************************************************************************/
/* global font size styling */
/*******************************************************************************************/

h1 {
  font-family: var(--font-family);
  font-size: var(--fs-h1);
  font-weight: bold;
}

h2 {
  font-family: var(--font-family);
  font-size: var(--fs-h2);
  font-weight: bold;
}

h3 {
  font-family: var(--font-family);
  font-size: var(--fs-h3);
  font-weight: bold;
}

h4 {
  font-family: var(--font-family);
  font-size: var(--fs-h4);
}

h5 {
  font-family: var(--font-family);
  font-size: var(--fs-h5);
}

h6 {
  font-family: var(--font-family);
  font-size: var(--fs-h6);
}

p {
  font-family: var(--font-family);
  font-size: var(--fs-p);
}
