:root {
  /* Colors used universally throughout the project*/
  --color-primary: #253967;
  --color-secondary: #00408b;
  --color-black: black;
  --color-white: white;

  /* Font sizes used universally throughout the project*/

  /* Extra small */
  --fs-xs: 1vmin;

  /* Small */
  --fs-s: 1.2vmin;

  --fs-p: 1.4vmin;
  --fs-h6: 1.6vmin;
  --fs-h5: 1.8vmin;
  --fs-h4: 2vmin;
  --fs-h3: 2.2vmin;
  --fs-h2: 2.8vmin;
  --fs-h1: 3.4vmin;

  --font: normal normal normal 30px/40px Imprint MT Shadow;
  --font-family: Imprint MT Shadow, sans-serif;

  --btn-sq: 6vmin;
}
